# dirs
/**/__pycache__/
venv/
data/
kaggle_evaluation/
checkpoints/ 
.ipynb_checkpoints/
temp/
tmp/

# files
/**/*.csv
/**/*.pkl
/**/*.joblib
/**/*.parquet
/**/*.feather
/**/*.arrow
/**/*.json

# Logs and temporary files
*.log
*.temp
*.tmp
